html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

.stage canvas {
  display: block;
}

@media (max-width: 1024px) {
  html,
  body,
  #root {
    height: auto;
    min-height: 100%;
    overflow: auto;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  html,
  body,
  #root {
    height: 100%;
    overflow: hidden;
  }
}
